*.dylib
*.o
*.os
*.pyc
*.so
.sconf_temp
.sconsign.dblite
config.log
doc/htmlDir
tests/.tests
ups/*.cfgc
doc/build
bin/*
python/lsst/sims/movingObjects/version.py
*.pdf
*.png
*.gif
*.mp4
*.fits
*.npz
*~
*.ipynb
.ipynb_checkpoints/*
.idea/*